body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-image: url('../images/vecteezy_abstract-background-with-circles-and-light_60129796.jpeg');
  background-repeat: repeat;
}

.bg-primary {
  background-color: #2d2c2d !important;
}

.btn-primary {
  background-color: #2d2c2d;
  border-color: #2d2c2d;
}
  
.btn-primary:hover {
  background-color: #6d6d6d;
  border-color: #6d6d6d;
}
  
.btn-primary:focus, .btn-primary.focus {
  background-color: #6d6d6d;
  border-color: #6d6d6d;
  box-shadow: 0 0 0 0.2rem rgba(165, 147, 194, 0.5);
}
  
.btn-primary.disabled, .btn-primary:disabled {
  background-color: #2d2c2d;
  border-color: #2d2c2d;
}
  
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  background-color: #6d6d6d;
  border-color: #6d6d6d;
}
  
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(165, 147, 194, 0.5);
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #2d2c2d;
}

.hero-section {
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 100vw rgba(0, 0, 0, 0.1);
  height: 40vh;
}

.hero-index {
  background-image: url('../images/vecteezy_a-close-up-of-a-colorful-bird-s-wings_66071894.jpg');
}

.card-footer {
  background: transparent;
  border-top: 0px;
}

.img-max {
  max-width: 500px;
  max-height: 400px;
}

#image {
    transition: transform 0.5s ease;
}
#image:hover {
    transform: rotate(180deg);
}
